@import url('https://fonts.googleapis.com/css?family=Cabin&display=swap');
html,body{
    margin:0;

}
* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0px;
    font-family: 'Cabin', sans-serif;
    text-align: center;
    background-color: rgba(238, 238, 238);
    line-height: 28px;
  
  }
  

/* VIDEO */
.video-container{
    position: relative;
    height: 50vh;
    width: auto;
    overflow:hidden;
    
   }

.video-container video{
    z-index: -1;
    position: absolute;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
  
   
}
.video-overlay{
    height: 50vh;
    width: 100vw;
    position: absolute;
top: 0;
left:0;
    background-color:#7ac4e2;
    opacity: 0.5;
    z-index: 2;
}

span{
  color:#003b73;
}

.icon-nav{
  width: 100%;
 background-color: rgb(219, 213, 213);
  position: fixed;
  z-index: 5;
  opacity: 0.9;
  

  
}

.icon-nav a{
  float: right;
  padding-right: 15px;
}



.nav {
  padding-top: 2px;
  top:28px;
  height: 53px;
  width: 100%;
  opacity: 0.9;
  background-color: rgba(238, 238, 238);
  position: fixed;
  z-index: 4;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #333;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 11px 10px 11px 10px;
  text-decoration: none;
  color: #003b73;
}

.nav > .nav-links > a:hover {
  background-color:  #d7eef7;
}

.nav > #nav-check {
  display: none;
}

@media (max-width:600px) {
  
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color:  #d7eef7;
  
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid ;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: rgb(165, 197, 216);
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(60vh - 50px);
    overflow-y: auto;
  }
}
    
.logo{
  position: absolute;
  width: 145px;
  height: 45px;
 
}
.logo-div .logo-2{
  margin: auto;
  text-align: center;
  align-items: center;
  justify-content: center;

}
.logo-2{
height: 100px;
width: auto;
text-align: center;
}

/* CONTACT PAGE */
.container img{
  width: 100%;

}

.style [type="text/css"]
.form-style-2{
	max-width: 500px;
	padding: 20px 12px 10px 20px;
	font: 13px Arial, Helvetica, sans-serif;
}
.form-style-2-heading{
	font-weight: bold;
	font-style: italic;
	border-bottom: 2px solid #ddd;
	margin-bottom: 20px;
	font-size: 15px;
	padding-bottom: 3px;
}
.form-style-2 label{
	display: block;
	margin: 0px 0px 15px 0px;
}
.form-style-2 label > span{
	width: 100px;
	font-weight: bold;
	float: left;
	padding-top: 8px;
	padding-right: 5px;
}
.form-style-2 span.required{
	color:red;
}
.form-style-2 .tel-number-field{
	width: 40px;
	text-align: center;
}
.form-style-2 input.input-field, .form-style-2 .select-field{
	width: 48%;	
}
.form-style-2 input.input-field, 
.form-style-2 .tel-number-field, 
.form-style-2 .textarea-field, 
 .form-style-2 .select-field{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 1px solid #C2C2C2;
	box-shadow: 1px 1px 4px #EBEBEB;
	-moz-box-shadow: 1px 1px 4px #EBEBEB;
	-webkit-box-shadow: 1px 1px 4px #EBEBEB;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	padding: 7px;
	outline: none;
}
.form-style-2 .input-field:focus, 
.form-style-2 .tel-number-field:focus, 
.form-style-2 .textarea-field:focus,  
.form-style-2 .select-field:focus{
	border: 1px solid  #003b73;;
}
.form-style-2 .textarea-field{
	height:100px;
	width: 55%;
}
.form-style-2 input[type=submit],
.form-style-2 input[type=button]{
	border: none;
	padding: 8px 15px 8px 15px;
	background:  #003b73;;
	color: #fff;
	box-shadow: 1px 1px 4px #DADADA;
	-moz-box-shadow: 1px 1px 4px #DADADA;
	-webkit-box-shadow: 1px 1px 4px #DADADA;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
.form-style-2 input[type=submit]:hover,
.form-style-2 input[type=button]:hover{
	background: #003b73;
	color: #fff;
}

  
  @media (max-width:600px) {
    .text-long{
      display: none;
    }
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 12px;
    }
   
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 8px;
      border-top: 2px solid #003b73;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color:white;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
      
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
      color: #003b73;
      font-size: 18px;
      font-weight: 400;
     
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(50vh - 50px);
      overflow-y: hidden;
      z-index: 4;
    }
    
 #section-locations{
   padding: 60px;
   text-align: left;
 }
 #section-locations h1{
   font-size: 2rem;
text-align: center;
text-decoration: underline;



}


 .phone p{
   padding-top: 16px;
   margin: 20px;
 }


  }
 

img{
    display: block;
    width: 100%;
    height: auto;
    
}
h2{
  font-size: 1.6rem;
  
}
h2, h3 {
    margin-bottom: 0.5rem;
    padding: 1rem 0;
    font-weight: 100;
}
p{
    margin:0;
    padding: 1rem 0;
}


.btn{
    display: inline-block;
/* background:#003b73; */
color:#fff;
text-decoration:none ;
padding: 0.7rem 1.4rem;
border-radius: 15px;
margin:1rem 0.5rem;
background-color: #003b73;
}
 .btn:hover{
    background:#065072;
 }
 
 /* .google-maps {
   height: 70vh;
     position: relative;
     padding-bottom: 75%;
     height: 0;
     overflow: hidden;
 }
 .google-maps iframe {
     position: absolute;
     top: 0;
     left: 0;
     width: 100% !important;
     height: 70% !important;
 } */


 #section-a{
 
   background: #fff;
   padding: 2rem;
 }

#section-a .content{
  width:70%;
  margin: auto;
  padding-bottom: 2rem;
}


 #section-c{
   margin: 0 auto;
   padding: 2rem 1rem 1rem;

   background-color: rgba(238, 238, 238);
 }
 ul .grid{
   margin:0  auto;
 }
 ul{
   margin: 0 auto;
   padding: 1rem;
 }
.grid{
  list-style: none;
  margin:0  auto;
}
 .grid li{
   margin-bottom:1rem;
   background: #fff;
  
 }
 #section-c .card-content{
   padding: 2rem;
   text-align: center;
  
 }

#section-d{
  background-color: #fff;
  padding-bottom: 2rem;
  
}
#section-d .content{
  width:60%;
  margin: auto;
  text-align: center;

}

 @media(min-width:700px){
   
   .content-title{
     font-size: 2rem;
   }
   .grid{
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     grid-gap:20px;
   }

 }
 @media only screen and (min-width: 1200px) {
   .content-title{font-size: 2.4rem;}
 }





/* footer */
.section-footer{
    background:rgb(31, 29, 29);
    color:rgb(255, 255, 255);
    padding:3rem 0;
    

}

.section-footer ul{
  list-style: none;
}
.section-footer ul a{
text-decoration: none;
color: #333;

}

.section-footer .container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap:2rem;
    text-align: center;

}

#footer-li a{
color: #fff;
}
.border{
  border-color: #7ac4e2;
  
  border-top: 1px solid #003b73;
  display: block;
  position: relative;
  top: 1px;
  width: 25%;
}

.section-footer h2{
    font-size:2rem;
    margin-bottom: 1rem;
}
.section-footer h3{
    font-size:1.5rem;
    margin-bottom: 1rem;
}

.section-footer a{
    line-height: 1.9;
    
}
/* ICONS */
.fa-facebook{
  color: #11759c;
}
.fa-facebook:hover{
  color: #085a7a;
}
.fa-facebook-f{
  
    color: #1679a0 !important;
    font-size: 16px;
    margin-left: 9px;
    height: 10px;

}

.fa-facebook-f:hover{
  
  color: #4caed4 !important;
 
}
.fa-youtube{
  margin:0.5rem;
  color: #81452a ;
}
.fa-youtube:hover{
  margin:0.5rem;
  color: #7a3432 ;
}

.fa-instagram{
  color:#be4e21;
    font-size: 16px;
    margin-left: 9px; }
.fa-instagram:hover{
   color:#702c11;
      }




/* email form */
.email_form{
  height:30px ;
  border-radius: 15px;
  border:none;
  margin-right: 5px;
}
.btn_form{
  display: inline-block;

  color:#fff;
  text-decoration:none ;
  padding: 0.7rem 1.4rem;
  border-radius: 15px;
  margin:1rem 0.5rem;
  background-color: #003b73;
  border:none;
  text-transform: uppercase;
    cursor: pointer;
 
}


.btn_form:hover{
  background-color: #065072;
}



@media(max-width:700px) {
.btn_form{
  display: block;
  width: 90%;
  margin: auto;
  
}
.email_form{
  display: block;
  width: 90%;
  margin: auto;
  margin-bottom: 10px;
}
  .section-footer{
    
      padding:2rem 0;
      
  
  }
  
  .section-footer .container{
      display:grid;
      grid-template-columns: 1fr;
      grid-gap:2rem;
      text-align: center;
  
  }
  
  .section-footer div:nth-child(2),
  .section-footer div:nth-child(3)
  {
    display: none;
      
  }



  .image-container img{ 
 
    background-position: center;
    background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  }
}

.image-container img{
  width: 100%;
  height: 60%;
}
 
/* PRODUCT PAGE */
.product-container img{
  width: 100%;
  height: auto;
  z-index: -1;
}
.product-container{
  height: 100%;
  position: relative;
  width: 100%;
  z-index: -8;
}
.image-overlay{
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position:absolute;
  background: #4caed4;
  opacity: 0.1;
  z-index: 5;
}

.card-grid{
  display: grid;
grid-template-columns: 1fr 1fr;
grid-gap:20px;

} 
.list-product{
  list-style: none;
}
/* .card-text{
  background:rgb(31, 29, 29);
  color: rgb(255, 255, 255);
}


/* .image-container{
  height: 50vh;
position:relative;
width: auto;
}

.image-container img{
  position: absolute;
  width: auto;
  height: auto;
  top:0;
  left:0;
}
 */
 .text-long{
   color: black;
 }
#more4{
  display: none;
  color: black;
  
}
 #more {display: none;
color: black;}
#more2 {display: none;
  color: black;}
#more3 {display: none;
  color: black;}
 .readBtn{
   border: none;
   font-family: 'Cabin', sans-serif;
   font-size: 1.1rem;
   background-color: white;
   text-decoration: underline;
 }

 /* section-location */
 
 #section-locations{
   padding: 60px;
   text-align: left;
 }
 #section-locations h1{
   font-size: 2rem;
text-align: center;
text-decoration: underline;



}




 
 @media (max-width:600px) {

  #section-locations h1{
    font-size: 1.8rem;
 text-align: center;
 text-decoration: underline;
 
 
 
 }
 
.phone p{
  padding-top:0;
  margin: 0;
}
.product-container{
  height: 25vh;
  position: relative;
  width: 100%;
  z-index: -8;
}
.product-container img{
  width: 100%;
  height: 25vh;
}

 }

 .foot{
   text-align: center;
   padding: 10px;
   
 }


